.task{
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bt{
    margin-left: 20px;
}
h1{
    text-align: center;
}
.task input{
    /* border: none; */
    outline-color: red;
   
}
.tstyle{
   border: 5px solid #27ae60;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding:  0.7rem 2rem;
    text-align: center;
    width: 100%;
    word-wrap: break-word;

} 

.completed{
    opacity: 0.2;
    border-color: orangered;
    text-decoration: line-through;
}
